layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode}#[fg=black,bg=blue,bold]{session}  #[fg=blue,bg=#181825]{tabs}"
            format_right "#[fg=#181825,bg=#b1bbfa]{datetime}"
            format_space "#[bg=#181825]"

            hide_frame_for_single_pane "true"

            //mode_normal  "#[bg=blue] "
            mode_normal        "#[bg=#a6da95,fg=#181926,bold] normal#[bg=#181926,fg=#a6da95]█"
            mode_locked        "#[bg=#6e738d,fg=#181926,bold]  #[bg=#181926,fg=#6e738d]█"
            mode_resize        "#[bg=#f38ba8,fg=#181926,bold] resize#[bg=#181926,fg=#f38ba8]█"
            mode_pane          "#[bg=#89b4fa,fg=#181926,bold] pane#[bg=#181926,fg=#89b4fa]█"
            mode_tab           "#[bg=#b4befe,fg=#181926,bold] tab#[bg=#181926,fg=#b4befe]█"
            mode_scroll        "#[bg=#f9e2af,fg=#181926,bold] scroll#[bg=#181926,fg=#f9e2af]█"
            mode_enter_search  "#[bg=#8aadf4,fg=#181926,bold] ent-search#[bg=#181926,fg=#8aadf4]█"
            mode_search        "#[bg=#8aadf4,fg=#181926,bold] SEARCH#[bg=#181926,fg=#8aadf4]█"
            mode_rename_tab    "#[bg=#b4befe,fg=#181926,bold] rename-tab#[bg=#181926,fg=#b4befe]█"
            mode_rename_pane   "#[bg=#89b4fa,fg=#181926,bold] rename-pane#[bg=#181926,fg=#89b4fa]█"
            mode_session       "#[bg=#74c7ec,fg=#181926,bold] session#[bg=#181926,fg=#74c7ec]█"
            mode_move          "#[bg=#f5c2e7,fg=#181926,bold] move#[bg=#181926,fg=#f5c2e7]█"
            mode_prompt        "#[bg=#8aadf4,fg=#181926,bold] prompt#[bg=#181926,fg=#8aadf4]█"
            mode_tmux          "#[bg=#f5a97f,fg=#181926,bold]  #[bg=#181926,fg=#f5a97f]█"

            tab_normal              "#[fg=#181825,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index}  {name} #[fg=#4C4C59,bg=#181825]"
            tab_normal_fullscreen   "#[fg=#6C7086,bg=#181825] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=#181825] {index} {name} <> "
            tab_active              "#[fg=#181825,bg=#ffffff,bold,italic] {index}  {name} #[fg=#ffffff,bg=#181825]"
            tab_active_fullscreen   "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} <> "

            // separator between the tabs
            tab_separator           "#[bg=#181926] "

            // indicators
            tab_sync_indicator       "  "
            tab_fullscreen_indicator " 󰊓 "
            tab_floating_indicator   " 󰹙 "


            datetime          "#[fg=#6C7086,bg=#b1bbfa,bold] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
            }
        }
    }
    tab split_direction="Horizontal" {
        pane
    }
}
